{% extends 'base.html' %}

{% block title %} TO DO LIST {% endblock %}

{% load static %}

{% block body %}
<div class="container">
<!--    <h3>Add Items to a to-do list</h3>-->
    <div class="rowofitems mt-4" id="listofitems">
        <h3>Add Items</h3>

        <form class="form-inline mt-4" action="add_item/" method="post">
          <label class="sr-only" for="inlineFormInputName2">Name</label>
          <input type="text" name="content" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Enter Item...">

          <button type="submit" class="btn btn-primary mb-2">Submit</button>
        </form>
    </div>
    <div class="listofgroups mt-4">
        <ul class="list-group">
            {% for todo_item in todo_items %}
            <li class="list-group-item">{{ todo_item.text }}
                <div class="float-right">
                    <form action="delete_item/{{todo_item.id}}" method="post">
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </div>
            </li>

            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
